@import url('/assets/css/global.css');

:root {
    --color-white: #ffffff;
    --color-laranja-claro: #FE646F;
    --color-yellow: #FFE177;
}


body {
    height: 100vh;
    background: rgb(229,34,70);
    background: linear-gradient(0deg, rgba(229,34,70,1) 0%, rgba(254,100,111,1) 100%);
}

.nav {
    padding: 1rem;
}

.nav .btn-back {
    border: none;
    background: none;
}

.nav .btn-back a{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    font-size: 1.8rem;
    font-weight: 600;
    color: #ffffff;
}

.nav .btn-back .icon-turn-left{
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 56'%3E%3Cpath fill='%23000' d='M47.793 46.445c1.242 0 1.804-.797 2.016-1.758c.14-.703.187-1.874.187-3.234c0-11.344-4.524-16.219-15.656-16.219H17.98l-5.742.328l7.875-7.218l5.203-5.297c.375-.375.586-.914.586-1.477c0-1.172-.914-2.015-2.062-2.015c-.563 0-1.055.187-1.594.703L6.73 25.75c-.468.445-.726 1.008-.726 1.57c0 .586.258 1.125.726 1.594l15.586 15.54c.469.444.961.655 1.524.655c1.148 0 2.062-.843 2.062-2.015c0-.563-.21-1.125-.586-1.5l-5.203-5.297l-7.898-7.219l5.765.352h16.15c8.625 0 11.625 3.539 11.625 12.234c0 1.102-.047 1.875-.047 2.695c0 1.243.867 2.086 2.086 2.086'/%3E%3C/svg%3E");
    background-color: var(--color-white);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.container-login {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2.4rem auto;
    max-width: 30rem;
    min-width: 28rem;
}

.container-login .section-welcome-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.container-login .section-welcome-container h1{
    padding: 1.2rem 0;
    text-align: center;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: var(--color-laranja-claro);
    background-color: var(--color-white);
}

.container-login .section-welcome-container h2{
    text-align: center;
    width: 100%;
    font-weight: 400;
    /*font-size: 2.4rem;*/
    font-size: clamp(2.6rem, 1.2rem + 4vw, 2.8rem);
    color: var(--color-white);
}

.login-access *{
    font-size: 1.6rem;
}


.container-login .login-access h3{
    text-align: center;
    /*font-size: 1.875rem;*/
    font-size: clamp(1rem, 1.675rem + 0.5vw, 3rem);
    color: var(--color-white);
    font-weight: 500;
}

.login-access .container-form {
    display: flex;
    flex-direction: column;
    row-gap: 2.4rem;
}

.container-form .access-recover {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
}

.container-form .access-recover span{
    color: var(--color-white);
}

.container-form .access-recover a {
    color: var(--color-yellow);
}

.login-access .container-form .login-form{
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    gap: 1.6rem;
    color: var(--color-white);
    font-weight: 500;
}

.input-container {
    position: relative;
}

.input-container .input-login {
    border: none;
    margin-top: .5rem;
    padding-left: 1rem;
    height: 4.2rem;
    width: 100%;
    border-radius: .8rem;
}

.icon-user {
    position: absolute;
    right: .5rem;
    bottom: .8rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2a5 5 0 1 1-5 5l.005-.217A5 5 0 0 1 12 2m2 12a5 5 0 0 1 5 5v1a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-1a5 5 0 0 1 5-5z'/%3E%3C/svg%3E");
    background-color: var(--color-laranja-claro);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .icon-eye-hidden {
    position: absolute;
    right: .5rem;
    bottom: .8rem;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M2 5.27L3.28 4L20 20.72L18.73 22l-3.08-3.08c-1.15.38-2.37.58-3.65.58c-5 0-9.27-3.11-11-7.5c.69-1.76 1.79-3.31 3.19-4.54zM12 9a3 3 0 0 1 3 3a3 3 0 0 1-.17 1L11 9.17A3 3 0 0 1 12 9m0-4.5c5 0 9.27 3.11 11 7.5a11.8 11.8 0 0 1-4 5.19l-1.42-1.43A9.86 9.86 0 0 0 20.82 12A9.82 9.82 0 0 0 12 6.5c-1.09 0-2.16.18-3.16.5L7.3 5.47c1.44-.62 3.03-.97 4.7-.97M3.18 12A9.82 9.82 0 0 0 12 17.5c.69 0 1.37-.07 2-.21L11.72 15A3.064 3.064 0 0 1 9 12.28L5.6 8.87c-.99.85-1.82 1.91-2.42 3.13'/%3E%3C/svg%3E");
    background-color: var(--color-laranja-claro);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

.input-container .input-login:focus {
    outline: .2rem solid #000;
} 

.input-container button.input-login {
    color: var(--color-white);
    background-color: var(--color-laranja-claro);
    margin-top: 1.8rem;
}

